extends base

block children
  - const path = redirect || "";
  - const q = path ? `?redirect=${encodeURIComponent(path)}` : "";

  div.container
    div
      h3.title authentication
      p(style="font-size: 0.875rem; line-height: 1.25rem") enter the pass key to continue

    form(method="post", action=`${rootpath}${q}`)
      div
        input#passkey(
          type="password",
          name="passkey",
          placeholder="enter the pass key",
          required,
          autofocus
        )
        if error
          p.message.error= error
        if un
          p.message.success unpassed

      div(style="display: grid; gap: 10px")
        button(type="submit") submit
        a.unpass(href=`${rootpath}/un${q}`, style="justify-self: end") unpass
