extends base

block children
  - const path = redirect || "";
  - const q = path ? `?redirect=${encodeURIComponent(path)}` : "";

  div.container
    div
      h3.title= labels.title || "Authentication"
      p.instruction(style="font-size: 0.875rem; line-height: 1.25rem")
        = type === "passkey" ? labels.instruction || "Enter the pass key to continue" : labels.instruction || "Enter your credentials to continue"

    form(method="post", action=`${rootpath}${q}`)
      div
        if type === "email-password"
          div(style="display: grid; gap: 10px")
            input#email.input(
              type="email",
              name="email",
              placeholder=labels.email_placehoder === undefined ? "Email" : labels.email,
              value=email,
              required,
              autofocus
            )
            input#password.input(
              type="password",
              name="password",
              placeholder=labels.passkey_placeholder === undefined ? "Password" : labels.passkey_placeholder,
              value=password,
              required
            )
        else
          input#passkey.input(
            type="password",
            name="passkey",
            placeholder=labels.passkey_placeholder === undefined ? "Pass key" : labels.passkey_placeholder,
            value=passkey,
            required,
            autofocus
          )
        if error
          p.message.error= error
        if un
          p.message.success= labels.unpassed || "Unpassed"

      div(style="display: grid; gap: 10px")
        button(type="submit") Submit
        a.unpass(href=`${rootpath}/un${q}`, style="justify-self: end")= labels.unpass || "Unpass"
